/*==========================  My Color Scheme  ============================== */


.bg-dessa-beige{
  background-color: #EFEDE4;
}

.bg-dessa-brown{
  background-color: #bcafa6;
}

.bg-dessa-green{
  background-color: #A3B18A;
}

.bg-dessa-gray{
  background-color: #6C757D;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ========================== Custom Colors ======================== */

   :root{
    --main-bg-color: #F5F5F5;
    --light-bg-color:#EFEDE4;
    --dark-bg-color: #333333;
    --primary-type-color: #222222;
    --post-color-1: #E9E6DF;
    --post-color-2:#BCC9D7;
    --blue-cloudy:  #BCC9D7;
    
    --value-color: #A3B18A;
    --btn-dark:  #3C3C3C;
    --btn-dark-hover: #1F1F1F;


    /* 
    var(--main-bg-color)
    var(--light-bg-color)
    var(--dark-bg-color)
    var(--primary-type-color)
    var(--post-color-1)
    var(--post-color-2)
    var(--blue-cloudy)
    
    var(--value-color)
    
    
    
    
    */
  }


   /* ------ Utility Classes  -------*/
  .container {
    max-width: 380px; /* Design Time */
    margin: 0 auto;
  }
  
  img{
    max-width:100%;
  }

  .playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


  body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }
/*-------------------- Main Navigation  ---------------------- */

div.header h1{
    color: #000;
    margin: 8px 5px;

}

div.header h1 a{
  background-image: url("../img/final-brand-logo.svg");
  display: block;
  width: 163px;
  height: 44px;
  margin: 0px auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
}

div#navbarNavDropdown{
  margin-left:20px;
  margin-bottom: -5px;
}

.navbar-toggler {
  border: none;
  padding: 4px 2px;
}


span#city-name{
  display: none; 
  margin-left: 5px;
  margin-right: 8px;
}

span#city-name a{
  color:var(--primary-type-color)2;
}

span#city-name a:visited{
  color:var(--primary-type-color);
}

.store-icons{
  display: flex;
  flex-direction: row;
}




/*-------------------- Main Promotional Banner ---------------------- */

/* I watched a youtube video to do this */


section.main-banner{
  background-image: url(../img/main-head-photo1.png);
  background-size: cover;
  background-repeat: no-repeat;
  place-content: center;
  text-align: center;
  min-block-size: 80vh;
}

section.overlay {
  position:relative;
  border-image: linear-gradient(
      hsl(0 0% 0% / 0.7),
      hsl(0 0% 20% / 0.7)) 
      fill 1;
}



div.sale-banner-text h1, div.sale-banner-text h2{
  color:#EFEDE4;
  font-size: 4em;
}

section.main-banner button{
  border: none;
  padding: 10px 12px;
  background-color: #222222;
  color:#EFEDE4;
  border-radius: 5px;
  font-size: 1.5em;
}



/*-------------------- Sale products Slick ---------------------- */

section#sale-products{
  margin-top: 40px;
  margin-bottom: 60px;
}

section#sale-products h1{
  text-align: center;
  margin-bottom: 0;
}


/*-------------------- Accessible Slick  ---------------------- */
/* Customize Previous/Next/Dots/Autoplay */

.responsive div {
  padding: 10px;
}

.responsive img {
  width: 100%;
  height: auto;
}

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: grey;
}


.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}











/*------------------ Main Furniture Categories -------------------- */

section#furniture-categories{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:30px;
  justify-items: center;
}

section#furniture-categories article{
  padding:0px;
  color:var(--primary-type-color);
  background-color: var(--post-color-1);
  /* box-shadow: 0 4px 8px rgba(0,0,0, .6); */
  border-radius: 8px;
  width: 349px;
  position: relative;
}
/* 
#furniture-categories article.categories:hover{
  box-shadow: 0 6px 16px rgba(0,0,0, .6);
} */

article.categories picture img{
  border-radius: 8px 8px 0 0;
}

article.categories div{
  padding: 16px 16px;
  margin-bottom: 40px;
}

.button-pr{
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #FFFFFF;       
  font-size:1.05em ;     
  padding: 0.6em 2em;
  background-color: var(--btn-dark);
  border: 2px solid var(--btn-dark);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  position: absolute;
  bottom:16px;
  left:16px;
}

.button-pr:hover {
  background-color: var(--btn-dark-hover);
  border-color: var(--btn-dark-hover);
}


/*------------------ Our Values -------------------- */


section#store-values{
  background-color: var(--value-color);
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  color:#fff;
}

section#store-values div.container h4{
  font-style:italic;
  font-weight: 400;
  /* letter-spacing: 0.09rem; */
}



/*----------------- Special Collection ----------------- */

section#special-collection{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  justify-items: center;

}

section#special-collection article{
  background-color: var(--post-color-2);
  border-radius: 8px;
  width: 349px;
  /* box-shadow: 0 4px 8px rgba(0,0,0, .6); */
  color:#000000;
  position: relative;
}

/* #special-collection article.categories:hover{
  box-shadow: 0 8px 16px rgba(0,0,0, .6);
  } */
  



/*---------------- Dessa Newsletter Sign Up ---------------- */

section#newsletter-su{
  background-color: var(--light-bg-color);
  margin: 40px 20px;
  padding: 20px;
}

section#newsletter-su img{
  margin-bottom: 15px;
}


section#newsletter-su > div{
  display:flex;
  flex-direction: column;
}



.newsletter-form input[type="email"] {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.newsletter-form button{
  border: 1px solid #ccc;
  border-radius:6px;
  padding: 8px 10px;
}


/*--------------------- Footer Styles -------------------- */

footer{
  background-color: var(--dark-bg-color);
  padding: 20px;
  color:var(--main-bg-color);

}

div.mobile-footer details{
  color:#fff;
  border-bottom: 1px solid #F5F5F5;
}

details summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

summary::after {
  content: '';
  width: 0; 
  height: 0; 
  border-top: 10px solid #fff;
  border-inline: 7px solid transparent;
  transition: 0.2s;
}


details[open] > summary::after {
  transform: rotate(-180deg);
}

summary::-webkit-details-marker {
  display: none;
}

details ul{
  list-style-type: none;
  padding: 10px 20px;
}

ul.sm-footer-list li a{
  text-decoration: none;
  color:var(--main-bg-color);
}

ul.sm-footer-list li a:hover{
  text-decoration: underline;
}

footer div.lg-footer{
  color:var(--main-bg-color);
  display: none;
}

div.lg-footer div{
  margin: 20px;
}

div.lg-footer div h3{
  font-size: 1.1em;
}

div.lg-footer div ul{
  list-style-type: none;
  padding: 10px 0px;
}

div.lg-footer div ul li a{
  color:var(--main-bg-color);
  text-decoration: none;
  font-weight: 300;
}


div.lg-footer div ul li a:hover{
  text-decoration: underline;
}

div.brand-socials{
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

div.brand-socials i{
  margin: 40px;

}

div.contact{
  padding: 32px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.contact i{
  margin: 10px;

}
div.brand-socials i{
  color: var(--main-bg-color);
}

div#copyright-dessa{
  margin:40px auto 20px;
  text-align: center;
}



/* ===================================================================================
                                 Other Pages
======================================================================================*/


/* ----------------- Maps / Location Page ----------------------*/

section#location{
  margin-top: 40px;
  padding: 20px 20px 40px;
  border:#ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* I watched a youtube video to do this */

section#location h1{
  color:var(--primary-type-color);
  font-weight: bold;
  text-align: center;
  margin: 20px 0px;
}

.map-container{
  position:relative;
  width: 100%;
  
}

iframe{
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
}


.maps-button{
  display: inline-block;
  background-color: rgb(47, 89, 216);
  color: #F5F5F5;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.maps-button:hover{
  background-color: rgb(24, 73, 220);
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   ========================================================================== */

/*---------------------Media Queries-------------------- */
  

  /*-----------------Tablet View---------------------- */
  
  @media screen and (min-width:768px){
    
    .container{
      max-width:600px;
    }

    
    div.mobile-footer{
      display:none;
    }

    footer div.lg-footer{
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    section#furniture-categories article{
      width: 560px;
    }

    section#special-collection article{
      width: 560px;
    }


    
    
  }
  
  


  /*----------------------- Desktop View (Small) --------------------- */


@media screen and (min-width:992px){

    .container{
      max-width: 984px;
    }

    section#furniture-categories{
      grid-template-columns: 1fr 1fr 1fr;
    }

    section#furniture-categories article{
      width: 299px;
    }

    section#special-collection{
      grid-template-columns: 1fr 1fr;
    
    }
    section#special-collection article{
      width: 465px;
    }

    section#newsletter-su > div{
      flex-direction: row;
    }

    section#newsletter-su img{
      margin-bottom: 0px;
      margin-right: 16px;
    }


}


 /*---------------------- Desktop View (Large) --------------------- */



 @media screen and (min-width:1320px){

  .container{
    max-width: 1131px;
  }

  section#furniture-categories article{
    width: 349px;
  }

  section#special-collection{
    grid-gap:177px;
  
  }
  section#special-collection article{
    width: 465px;
  }
}



/* ---------- Additional Tweaks ----------- */

@media screen and (min-width:1200px){
  nav.navbar{
    padding-left:20px;
    padding-right:20px;

  }

  
  .dropdown-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .navbar .dropdown-toggle::after {
    display: none;
  }


  

  form.search-bar{
    padding-left:15px;
    padding-right:15px;
  }

  span#city-name{
    display: inline;
  }
}

















/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  /* the code below is used when printing the page, it takes the link and prints in paranthesis instead of printing it in blue underlined text.*/
  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

