/*==========================  My Color Scheme  ============================== */


.bg-dessa-beige{
  background-color: #EFEDE4;
}

.bg-dessa-brown{
  background-color: #bcafa6;
}

.bg-dessa-green{
  background-color: #A3B18A;
}

.bg-dessa-gray{
  background-color: #6C757D;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ========================== Custom Colors ======================== */

   :root{
    --main-bg-color: #F5F5F5;
    --light-bg-color:#EFEDE4;
    --dark-bg-color: #333333;
    --primary-type-color: #222222;
    --post-color-1: #E9E6DF;
    --post-color-2: #6C757D;
    
    --value-color: #A3B18A;
  }


   /* ------ Utility Classes  -------*/
  .container {
    max-width: 380px; /* Design Time */
    margin: 0 auto;
  }
  
  img{
    max-width:100%;
  }

  .playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


  body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }
/*-------------------- Main Navigation  ---------------------- */


div.header h1{
  color: #000;
  background-image: url("../img/dessa-brand-logo.svg");
  display: block;
  width: 180px;
  height: 45px;
  margin: 1px auto 5px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
}




/*-------------------- Accessible Slick  ---------------------- */
/* Customize Previous/Next/Dots/Autoplay */

.responsive div {
  padding: 10px;
}

.responsive img {
  width: 100%;
  height: auto;
}

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: grey;
}


.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}



/*-------------------- Main Promotional Banner ---------------------- */

section.main-banner{
  background-image: url(../img/main-head-photo1.png);
  background-size: cover;
  background-repeat: no-repeat;
  place-content: center;
  text-align: center;
  min-block-size: 80vh;
}

section.overlay {
  position:relative;
  border-image: linear-gradient(
      hsl(0 0% 0% / 0.7),
      hsl(0 0% 20% / 0.7)) 
      fill 1;
}



div.sale-banner-text h1, div.sale-banner-text h2{
  color:#EFEDE4;
  font-size: 4em;
}

section.main-banner button{
  border: none;
  padding: 10px 12px;
  background-color: #222222;
  color:#EFEDE4;
  border-radius: 5px;
  font-size: 1.5em;
}



/*-------------------- Sale products Slick ---------------------- */














/*------------------ Main Furniture Categories -------------------- */

section#furniture-categories{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:30px;
  justify-items: center;
}

section#furniture-categories article{
  color:#222222;
  background-color: var(--post-color-1);
  /* box-shadow: 0 4px 8px rgba(0,0,0, .6); */
  border-radius: 8px;
  width: 349px;
}
/* 
#furniture-categories article.categories:hover{
  box-shadow: 0 6px 16px rgba(0,0,0, .6);
} */

article.categories picture img{
  border-radius: 8px 8px 0 0;
}

article.categories div{
  padding: 16px 12px;
}

section#furniture-categories article div a{
  color: #222222;
}



/*------------------ Our Values -------------------- */


section#store-values{
  background-color: var(--value-color);
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  color:#fff;
}



/*----------------- Special Collection ----------------- */

section#special-collection{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  justify-items: center;

}

section#special-collection article{
  background-color: var(--post-color-2);
  border-radius: 8px;
  width: 335px;
  /* box-shadow: 0 4px 8px rgba(0,0,0, .6); */
  color:#F5F5F5;
}

/* #special-collection article.categories:hover{
  box-shadow: 0 8px 16px rgba(0,0,0, .6);
  } */
  
section#special-collection article div a{
  color: #F5F5F5;
}




/*---------------- Dessa Newsletter Sign Up ---------------- */

section#newsletter-su{
  background-color: var(--light-bg-color);
  margin: 40px 20px;
  padding: 10px;
}

section#newsletter-su img{
  margin-bottom: 20px;
}


section#newsletter-su > div{
  display:flex;
  flex-direction: column;
}






/*--------------------- Footer Styles -------------------- */

footer{
  background-color: var(--dark-bg-color);
  padding: 20px;
  color:#F5F5F5;

}

div.mobile-footer details{
  color:#fff;
  border-bottom: 1px solid #F5F5F5;
}

details summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

summary::after {
  content: '';
  width: 0; 
  height: 0; 
  border-top: 10px solid #fff;
  border-inline: 7px solid transparent;
  transition: 0.2s;
}


details[open] > summary::after {
  transform: rotate(-180deg);
}

summary::-webkit-details-marker {
  display: none;
}

details ul{
  list-style-type: none;
  padding: 10px 20px;
}




footer div.lg-footer{
  color:#F5F5F5;
  display: none;
}

div.lg-footer div{
  margin: 20px;
}

div.lg-footer div h3{
  font-size: 1.1em;
}

div.lg-footer div ul{
  list-style-type: none;
  padding: 10px 0px;
}

div.brand-socials{
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

div.contact{
  padding: 32px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.contact i{
  margin: 10px;

}
div.brand-socials i{
  color: #F5F5F5;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   ========================================================================== */

   /*-------------------Media Queries------------------ */
  
  

  /*-----------------Tablet View---------------------- */
  
  @media screen and (min-width:768px){
    
    .container{
      max-width:700px;
    }

    
    div.mobile-footer{
      display:none;
    }

    footer div.lg-footer{
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    section#furniture-categories article{
      width: 560px;
    }



    
    
  }
  
  


  /*-----------------------Desktop View--------------------- */


@media screen and (min-width:992px){

    .container{
      max-width: 1000px;
    }

    section#furniture-categories{
      grid-template-columns: 1fr 1fr 1fr;
    }

    section#furniture-categories article{
      width: 299px;
    }

    section#special-collection{
      grid-template-columns: 1fr 1fr;
    
    }

    section#newsletter-su > div{
      flex-direction: row;
    }

    section#newsletter-su img{
      margin-bottom: 0px;
      margin-right: 16px;
    }


}
























/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  /* the code below is used when printing the page, it takes the link and prints in paranthesis instead of printing it in blue underlined text.*/
  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

