/*==========================  My Color Scheme  ============================== */


.bg-dessa-beige{
  background-color: #EFEDE4;
}

.bg-dessa-brown{
  background-color: #B3A398;
}

.bg-dessa-green{
  background-color: #A3B18A;
}

.bg-dessa-gray{
  background-color: #6C757D;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ========================== Custom Colors ======================== */

   :root{
    --main-bg-color: #F5F5F5;
    --light-bg-color:#EFEDE4;
    --dark-bg-color: #333333;
    --primary-type-color: #222222;
    --post-color-1: #B3A398;
    --post-color-2: #6C757D;
    --value-color: #A3B18A;
  }


   /* ------ Utility Classes  -------*/
  .container {
    max-width: 380px; /* Design Time */
    margin: 0 auto;
  }
  
  img{
    max-width:100%;
  }


/*-------------------- Accessible Slick  ---------------------- */
/* Customize Previous/Next/Dots/Autoplay */

.responsive div {
  padding: 10px;
}

.responsive img {
  width: 100%;
  height: auto;
}

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: grey;
}


.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}



/*-------------------- Main Promotional Banner ---------------------- */

section.main-banner{
  background-image: url(../img/main-head-photo1.png);
  background-size: cover;
  background-repeat: no-repeat;
  place-content: center;
  text-align: center;
  min-block-size: 80vh;
}

section.overlay {
  position:relative;
  border-image: linear-gradient(
      hsl(0 0% 0% / 0.7),
      hsl(0 0% 20% / 0.7)) 
      fill 1;
}



div.sale-banner-text h1, div.sale-banner-text h2{
  color:#EFEDE4;
  font-size: 4em;
}

section.main-banner button{
  border: none;
  padding: 10px 12px;
  background-color: #222222;
  color:#EFEDE4;
  border-radius: 5px;
  font-size: 1.5em;
}



/*-------------------- Sale products Slick ---------------------- */














/*------------------ Main Furniture Categories -------------------- */

section#furniture-categories{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:20px;

}

section#furniture-categories article{
  background-color: var(--post-color-1);
  border-radius: 10px;
  width: 350px;
}


article.categories img{
  border-radius: 10px 10px 0 0;
}

article.categories div{
  padding: 10px;
}



/*------------------ Our Values -------------------- */


section#store-values{
  background-color: var(--value-color);
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}



/*----------------- Special Collection ----------------- */

section#special-collection{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

section#special-collection article{
  background-color: var(--post-color-2);
  border-radius: 10px;
  width: 350px;
}




/*---------------- Dessa Newsletter Sign Up ---------------- */

section#newsletter-su{
  background-color: var(--light-bg-color);
  margin: 40px 20px;
  padding: 10px;
}








/*--------------------- Footer Styles -------------------- */

footer{
  background-color: var(--dark-bg-color);
  padding: 20px;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   ========================================================================== */

   /*-------------------Media Queries------------------ */
  
  

  /*-----------------Tablet View---------------------- */
  
  @media screen and (min-width:768px){
    
    .container{
      max-width:700px;
    }
    
  }
  
  


  /*-----------------------Desktop View--------------------- */


@media screen and (min-width:992px){

    .container{
      max-width: 900px;
    }

}
























/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  /* the code below is used when printing the page, it takes the link and prints in paranthesis instead of printing it in blue underlined text.*/
  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

